/* scrollbar */

::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
}


button{
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background: transparent;
    color: var(--text-color);
    padding:.25rem .5rem;
    cursor: pointer;
}

button.change{
    border: 1px solid red;
}
.cbWrapper {
    position: relative;
}

.cbWrapper [type="checkbox"] {
    position: relative;
    left: 15px;
    top: -4px;
    z-index: 0;
    -webkit-appearance: none;
}

.cbWrapper [type="checkbox"]+label {
    position: absolute;
    top: 3px;
    left: 10px;
    cursor: pointer;
}

.cbWrapper [type="checkbox"]+label::before {
    width: 10px;
    height: 10px;
    border-radius: 3px;
    border: 1px solid var(--bg-header);
    background-color: transparent;
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
    z-index: 5;
    position: relative;
}

.cbWrapper [type="checkbox"]:checked+label::before {
    box-shadow: inset 0px 0px 0px 2px var(--bg-subheader);
}

.HTMLbox .cbWrapper [type="checkbox"]+label::before {border: 1px solid var(--HTML-color);}
.HTMLbox .cbWrapper [type="checkbox"]:checked+label::before {background-color: var(--HTML-color);}



.CSSbox .cbWrapper [type="checkbox"]+label::before {border: 1px solid var(--CSS-color);}
.CSSbox .cbWrapper [type="checkbox"]:checked+label::before {background-color: var(--CSS-color);}



.JSbox .cbWrapper [type="checkbox"]+label::before {border: 1px solid var(--JS-color);}
.JSbox .cbWrapper [type="checkbox"]:checked+label::before {background-color: var(--JS-color);}

/* WITH LOVE */
footer .withLove {
    position: relative;
    right: 1rem;
}

footer .withLove a {
    text-decoration: none;
    font-size: .8rem;
    color: var(--text-color)
}

footer .withLove img {
    position: relative;
    top: 2px;
}

footer .withLove svg {
    height: 0.7rem;
    position: relative;
    top: 2px;
}